#about {
 
  color: #dd6336;
  text-align: left;
  font-size: 30px;
}

#aboutone {
padding: 40px 20px;
  color: #dd6336;
  text-align: left;
  font-size: 30px;
}
#aboutp {
  padding: 40px 20px;
  color: #dd6336;
  text-align: left;

}
#aboutlist {
  padding: 20px 20px;
  color: #dd6336;
  text-align: left;
  font-size: 30px;
}
#about h1 {
  padding: 40px 20px;
  font-size: 80px;
  font-family: creepster;
  margin-bottom: 15px;
  color: #dd6336;
  padding: 40px 20px;
  background-color: #1d102e;
}

p {
	padding-top:10px;
	padding-left:80px;
    font-family:cursive;
}

#about h2 {
  padding:30px 40px;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #dd6336;
 background-color: #1d102e;
 font-family:cursive;
}

#about ul {
  list-style-type: disc;
  padding-left: 110px;
  color:#dd6336;
}

#about img {
  display: block;
  margin: 100px auto;
  max-width: 100%;
  border-radius: 50px;
  border-color:chartreuse
}


#imgabt{
  width: 100%;
  height: 500px;
}

body {
  margin: 24px;
  background-color: #231336;
  color: #dd6336;
}

ul {
	font-family:cursive;
}

  #banner{
  width: 100%;

}
footer {
  color: #dd6336;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-family:cursive;
}


#ToggleMode {
  background: none;
  border:none;
  cursor:pointer;
  }

  #ToggleMode img{
  position:absolute;
  top:20px;
  right:50px;
  display:block;
  width:60px;
  justify-self:right;
  }
  #ToggleMode:hover img {
  filter: brightness(70%);
}

body.dark {
    background-color: #141414;
    color: #83fc68;
}

body.dark #about h1 {
    background-color: #000000;
    color: #83fc68;
}

body.dark footer {
    color: #4ffc28;
}

body.dark #about h2 {
	color: #4ffc28;
    background-color:#000000;
}

body.dark p {
	color: #4ffc28;
}

body.dark li {
	color: #4ffc28;
}
