#contact {
  padding: 90px 200px;
  text-align: center;
  font-size: 30px;
 color: #601f4e; 

}

#contact h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color:#601f4e

}

/* Form Table */
#contact table {
  margin: 0 auto;
  width: 70%;
  border-collapse: separate;
  border-spacing: 10px 15px;
}

#contact td {
  text-align: left;
    font-size: 25px;
  color: #601f4e


}

#contact input, #contact textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
   background-color: #ffffff;
}

#contact textarea {
  resize: vertical;
  height: 100px;
}

#btn2 {
  padding: 10px 20px;
  border: none;
  background-color: #54d61c;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

#btn2:hover {
 filter: brightness(70%);
}
footer {
  background-color:#601f4e;
  color: #dd6336;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

body{
    zoom:1.2;
    background-color:#ec8622;


}

/*dark mode*/

  #ToggleMode {
  background: none;
  border:none;
  cursor:pointer;
  }

  #ToggleMode img{
  position:absolute;
  top:20px;
  right:20px;
  display:block;
  width:60px;
  justify-self:right;
  }
  #ToggleMode:hover img {
  filter: brightness(70%);
}

body.dark {
    background-color: #141414;
    color: #83fc68;
}

body.dark #contact h1 {
    color: #4ffc28;
}

body.dark p {
	color: #4ffc28;
}

body.dark #contact label {
  color: #4ffc28;
}

body.dark footer {
    color: #4ffc28;
    background-color:#000000;

}
